<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-room">
                <div class="p-room__main-pic"></div>
                <section class="p-room__wrap l-content-wrap-default">
                    <h2 class="p-room__title">ROOM</h2>
                    <div class="p-room__container">
                        <div class="p-room__item">
                            <p class="p-room__num">01</p>
                            <h3 class="p-room__subtitle">SWEET ROOM</h3>
                            <p class="p-room__text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。</p>
                        </div>
                        <div class="p-room__item">
                            <img src="../../asset/image/room_01.jpg">
                        </div>
                    </div>
                    <div class="p-room__container p-room__container-rev">
                        <div class="p-room__item">
                            <p class="p-room__num">02</p>
                            <h3 class="p-room__subtitle">DELUXE ROOM</h3>
                            <p class="p-room__text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。</p>
                        </div>
                        <div class="p-room__item">
                            <img src="../../asset/image/room_02.jpg">
                        </div>
                    </div>
                    <div class="p-room__container">
                        <div class="p-room__item">
                            <p class="p-room__num">03</p>
                            <h3 class="p-room__subtitle">STANDARD ROOM</h3>
                            <p class="p-room__text">一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。</p>
                        </div>
                        <div class="p-room__item">
                            <img src="../../asset/image/room_03.jpg">
                        </div>
                    </div>
                    <h2 class="p-room__title">FACILITIES</h2>
                    <h3 class="p-room__subtitle">館内設備</h3>
                    <p class="p-room__text">レストラン・自動販売機</p>
                    <div>
                        <img src="../../asset/image/room_05.jpg" class="p-room__bottom-img">
                    </div>
                    <h3 class="p-room__subtitle">部屋設備・備品</h3>
                    <p class="p-room__text">インターネット無線LAN（Wi-Fi）・ICカードセキュリティ・TV（43インチ以上）・冷蔵庫（空）・セーフティボックス・マイナスイオンドライヤー・加湿空気清浄機・電気ケトル・靴ベラ</p>
                </section>
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
