.p-areaguide {
    margin-top: 80px;
    padding-bottom: 150px;

    &__mv {
        width: 100%;
        height: 60vh;
        background-image: url(/asset/image/areaguide_01.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__inner {
        padding-top: 75px;
    }

    &__text {
        margin-bottom: 60px;
        text-align: center;
    }

    &__map {
        width: 60%;
        margin: 0 auto 50px;
        display: block;
    }

    &__subtitle {
        margin-bottom: 30px;
        text-align: center;
        font-size: 18px;
    }
    &__subtitle {
        margin-bottom: 30px;
        text-align: center;
        font-size: 18px;
    }
    &__detailButton {
        margin: 0 auto;
        padding: 0.7em 3em;
        display: block;
        outline: none;
        color: #fff;
        background-color: #00478b;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        position: relative;
        font-size: 14px;
    }
    &__detailButton::after {
        content: "";
        width: 0.8em;
        height: 0.8em;
        position: absolute;
        top: 48%;
        right: 3%;
        transform: translateY(-50%);
        background-image: url(/asset/image/icon_arrow_right.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.l-content-wrap-default {
    position: relative;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box !important;
    padding-right: 2.4% !important;
    padding-left: 2.4% !important;
}
.c-title {
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-size: 24px;
}
.c-title:after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #00478b;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}
img {
    width: 100%;
}
.l-col3 {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.l-col3 h4 {
    margin-bottom: 10px;
    text-align: center;
}
.l-col3__list {
    width: 30%;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
// モーダル//
.p-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.is-show {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s;
        overflow: scroll;
        z-index: 100;
    }

    &__inner {
        width: 80%;
        max-width: 800px;
        height: auto;
        margin: 10vh auto;
        padding: 30px 3%;
        background-color: $color-light;
        position: relative;
        z-index: 101;

        @include sp-layout() {
            width: 95%;
        }

        h4 {
            margin-bottom: 15px;
        }

        img {
            margin-bottom: 15px;
        }

        p:not(:first-child) {
            margin-bottom: 15px;
        }
    }

    &__closeButton {
        width: 20px;
        height: 20px;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 1.5%;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        @include tab-layout() {
            right: 3%;
        }
    }

    &__cover {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-default, 0.8);
        z-index: 100;
    }
}

body.is-modal-hidden {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// レスポンシブ//
@media screen and(max-width:576px) {
    .p-areaguide {
        padding-bottom: 75px;
    }
    .p-areaguide__inner {
        padding-top: 50px;
    }
    .l-content-wrap-default {
        max-width: 100%;
        padding-right: 5% !important;
        padding-left: 5% !important;
        box-sizing: border-box !important;
    }
    .c-title {
        margin-bottom: 40px;
        font-size: 6vw;
    }
    h2 {
        font-size: 8vw;
        font-size: 4vw;
    }
    p {
        font-size: 4vw;
    }
    .p-areaguide__map {
        margin-bottom: 30px;
    }
    .p-areaguide__text {
        margin-bottom: 30px;
    }
    .p-areaguide__subtitle {
        margin-bottom: 20px;
        font-size: 4.5vw;
    }
    h3 {
        font-size: 6vw;
    }
    .p-areaguide__detailButton {
        font-size: 3.5vw;
    }
    .l-col3 {
        flex-wrap: wrap;
    }
    .p-modal__inner {
        width: 95%;
    }
    a {
        font-size: 4vw;
    }
    .l-col3__list:not(:first-child) {
        margin-top: 30px;
    }
    .l-col3__list {
        width: 100%;
    }
}

@media screen and(max-width:1000px) {
    .l-content-wrap-default {
        max-width: 100%;
        padding-right: 3% !important;
        padding-left: 3% !important;
        box-sizing: border-box !important;
    }
    .c-title {
        margin-bottom: 50px;
        font-size: 3vw;
    }
    p {
        font-size: 2vw;
    }
    .p-areaguide__subtitle {
        font-size: 2.25vw;
    }
    h3 {
        font-size: 3vw;
    }
    .p-areaguide__detailButton {
        font-size: 1.75vw;
    }
    a {
        font-size: 2vw;
    }
    .p-modal__closeButton {
        right: 3%;
    }
}
