.p-contact {
  margin-top: 80px;
  padding-bottom: 150px;

  &__inner {
    margin-top: 75px;
  }
  &__text {
    margin-bottom: 60px;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
  }
  &__inputWrap {
    margin-bottom: 30px;
    display: flex;
  }
  &__label {
    width: 25%;
    margin: 0 auto;
    padding: 0.6em;
    color: #fff;
    background-color: #00478b;
  }
  &__input {
    width: 70%;
    padding: 0.6em;
    background-color: #e8e1d3;
    border: none;
  }
  &__textarea {
    width: 70%;
    padding: 0.6em;
    background-color: #e8e1d3;
    border: none;
    font-size: 16px;
  }
  &__checkLabel {
    max-width: 350px;
    margin: 0 auto;
  }
  &__note,
  &__note a {
    text-align: center;
    font-size: 14px;
  }
  &__note {
    margin-bottom: 20px;
  }
  &__checkbox {
    font-size: 14px;
  }
  &__btn {
    width: 300px;
    margin: 0 auto 20px;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    display: block;
    font-size: 16px;
  }
}
.p-content__mv {
  width: 100%;
  height: 60vh;
  background-image: url(/asset/image/contact_01.jpg);
  background-position: center;
  background-size: cover;
}
.l-content-wrap__default {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.c-title {
  text-align: center;
  margin-bottom: 60px;
  letter-spacing: 2px;
  position: relative;
  font-size: 24px;
}

.c-title:after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #00478b;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
}

form {
  display: block;
  margin-top: 0em;
}
input,
select {
  vertical-align: middle;
}
select:not(:-internal-list-box) {
  overflow: visible !important;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and(max-width:576px) {
  .p-contact {
    &__inner {
      padding-top: 50px;
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: 4.5vw;
    }
    &__input {
      width: 100%;
      padding: 1em;
      font-size: 4vw;
    }
    &__inputWrap {
      flex-direction: column;
    }
    &-text {
      margin-bottom: 30px;
    }
    &__label {
      width: 100%;
    }
    &__btn {
      font-size: 4vw;
    }
    &__textarea {
      width: 100%;
      font-size: 4vw;
    }
    &__checkbox {
      font-size: 3.5vw;
    }
    &__note,
    &__note a {
      font-size: 3.5vw;
    }
  }
  .l-content-wrap-default {
    max-width: 100%;
    margin-top: 0;
    padding-right: 5% !important;
    padding-left: 5% !important;
    box-sizing: border-box !important;
  }
  .c-title {
    margin-bottom: 40px;
    font-size: 6vw;
  }

}

@media screen and(max-width:1000px) {
  .p-contact {
    padding-bottom: 80px;

    &__subtitle {
      font-size: 2.25vw;
    }
    &__input {
      font-size: 2vw;
    }
    &__checkbox {
      font-size: 1.75vw;
    }
    &__btn {
      font-size: 2vw;
    }
    &__textarea {
      font-size: 2vw;
    }
  }

  .l-content-wrap-default {
    max-width: 100%;
    padding-right: 3% !important;
    padding-left: 3% !important;
    box-sizing: border-box !important;
  }
  .c-title {
    font-size: 3vw;
  }
 
}

@media screen and (min-width: 1001px) {
  .p-contact__btn {
    font-size: 16px;
  }
}
