

.p-top {
}
@media(min-width: 581px){
body {
    overflow-x: hidden;
}
.swiper-wrapper .swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;  //全画面表示
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.concept {
    h2 {
        text-align: center;
        padding: 70px;
    }
    p{  
        margin: 0 20px;
        text-align: center;
        line-height: 40px;
    }
}
// .mainImage {
//     height: 500px;
// }

.areaguide {

    h2 {
        text-align: center;
        padding: 70px;
    }
    p{
        text-align: center;
        line-height: 40px;
    }
    #map img{
        float: left;
        padding: 10px;
        height: 350px;
        width: 50%;
        box-sizing: border-box;
    }
    #wrapper {
        float: left;
        box-sizing: border-box;
        text-align: center;
        width: 50%;
        height: 400px;

    }
    .images {
        margin-left: 44px;
    }
    .map-image {
        float: left;
        height: 10px;
        width: 22%;
        list-style: none;
        padding: 10px 5px;
    }
    .btn {
        width: 300px;
        margin-top: 20%;
        padding: 15px 100px;
        background-color: rgb(41, 74, 134);
        color: white;
        text-align: center;
    }
   
}

.room {
    h2 {
        text-align: center;
        padding: 60px 0 0 30px;
    }
    .btn {
        display: flex;
        width: 300px;
        padding: 15px 100px;
        background-color: rgb(41, 74, 134);
        color: white;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}
.rooms {
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin: 50px 10px;

}


.map {
    background-image: url("map.jpg");
    height: 30px;
}
.access iframe{
    box-sizing: border-box;
    width: 50%;
    height: 300px;
    margin: 10px;
    float: left;
}
.adress {
    margin: 10px;
    margin-bottom: 200px;
    text-align: center;
    h2{
        padding: 40px ;
    }
    .btn {
        display: flex;
        width: 300px;
        padding: 15px 100px;
        background-color: rgb(41, 74, 134);
        color: white;
        margin: 50px auto;
    }
}
}

@media(max-width: 580px){
    body {
        overflow-x: hidden;
    }
    .swiper-wrapper .swiper-slide {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;  //全画面表示
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .concept {
        h2 {
            text-align: center;
            padding: 70px;
        }
        p{  
            margin: 0 20px;
            text-align: center;
            line-height: 40px;
        }
    }
    // .mainImage {
    //     height: 500px;
    
    // }
    
    .areaguide {
    
        h2 {
            text-align: center;
            padding: 70px;
        }
        p{
            text-align: center;
            line-height: 40px;
        }
        #map img{
            padding: 10px;
            height: 350px;
            box-sizing: border-box;
        }
        #wrapper {
            box-sizing: border-box;
            text-align: center;
            height: 400px;
    
        }
        .images {
            margin-left: 44px;
        }
        .map-image {
            float: left;
            height: 10px;
            width: 22%;
            list-style: none;
            padding: 10px 5px;
        }
        .btn {
            width: 80%;
            margin-top: 20%;
            padding: 15px 100px;
            background-color: rgb(41, 74, 134);
            color: white;
            text-align: center;
        }
       
    }
    
    .room {

        h2 {
            text-align: center;
        }
        .btn {
            width: 80%;
            padding: 15px 100px;
            text-align: center;
            background-color: rgb(41, 74, 134);
            color: white;
            margin: 0 auto;
            margin-bottom: 100px;
        }
        .button {
            text-align: center;
        }
    }
    .rooms {
        box-sizing: border-box;
        margin: 50px 10px;
    
    }
    
    
    .map {
        background-image: url("map.jpg");
        height: 30px;
    }
    .access iframe{
        box-sizing: border-box;
        height: 300px;
        margin: 10px;
        width: 100%;
    }
    .adress {
        margin: 10px;
        margin-bottom: 200px;
        text-align: center;
        h2{
            padding: 40px ;
        }
        .btn {
            width: 80%;
            text-align: center;
            padding: 15px 100px;
            background-color: rgb(41, 74, 134);
            color: white;
            margin: 80px auto;
        }
    }
    .fadeout{
        opacity: 0;
    }
}
