<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"/>
    </head>
    <body>
        <%- include('./_includes/_header') %>

        <main>
            <article class="p-top">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url('/asset/image/mv_01.jpg');">
                        </div>
                        <div class="swiper-slide" style="background-image: url('/asset/image/mv_02.jpg');">     
                        </div>
                        <div class="swiper-slide" style="background-image: url('/asset/image/mv_03.jpg');">    
                        </div>
                        <div class="swiper-slide" style="background-image: url('/asset/image/mv_04.jpg');">    
                        </div>
                    </div>
                 
                </div>
            <!-- <img  class="mainImage"> -->
            <div class="concept">
                <h2>CONCEPT</h2>
                <p>日本の文化に触れて頂き、日本をより好きになって頂き、お客様・従業員全てが笑顔になれるおもてなしを実現致します。</p>
                <p>各種交通機関からのアクセスも良く、外国人観光客だけでなく、国内の家族旅行者など、</p>
                <p>多くのお客様の観光拠点と旅行者とつなぐ場所として、快適で贅沢な空間を提供致します。</p>
                <p>宿泊期間やご人数の関わらずご利用頂け、タイトなスケジュールになりがちなご予定も出来る限りサポートできるよう、</p>
                <p>チェックインやチェックアウトのお時間もご相談ください。</p>
                <p>さらに、長期滞在でもお楽しみ頂けるよう、様々なアクティビティーの実施も予定しております。</p>
            </div>
            <div class="areaguide">
                <h2>AREA GUIDE</h2>
            <div id="map"><img src="/asset/image/map.jpg"></div> 
              <div id="wrapper">
                <p>各観光各所へもスムーズに<br>アクセスできる好立地。</p>
                <p>大阪を代表する観光名所や大阪の<br>見所をご紹介。</p>
                <div class="images">
                    <ul>
                        <li class="map-image"><img src="/asset/image/top_areaguide_01.jpg"></li>
                        <li class="map-image"><img src="/asset/image/top_areaguide_02.jpg"></li>
                        <li class="map-image"><img src="/asset/image/top_areaguide_03.jpg"></li>
                        <li class="map-image"><img src="/asset/image/top_areaguide_04.jpg"></li>
                    </ul>
                </div>
                
                <a href="https://daikishirakawa.github.io/tenkue-app/src/ejs/areaguide"><button class="btn">詳細はこちら</button></a>
              </div>
            </div>
            <div class="room">
                <h2>ROOM</h2>
                <div class="rooms">
                    <img src="/asset/image/room_01.jpg" alt="">
                    <h3>SWEET ROOM</h3>
                    <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                </div>   
                <div class="rooms" >
                    <img src="/asset/image/room_02.jpg" alt="">
                    <h3>DELUXE ROOM</h3>
                    <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                </div>
                 <div class="rooms">
                    <img src="/asset/image/room_03.jpg" alt="">
                    <h3>STANDARD ROOM</h3>
                    <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                 </div>  
               <div class="room-btn">
               <a href="https://daikishirakawa.github.io/tenkue-app/src/ejs/room"><button class="btn"> 詳細はこちら</button></a> 
               </div>  
            </div>
            <div class="access">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13120.333892529683!2d135.486537798256!3d34.70307448847328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e68dc5241021%3A0x4c619b45cc7f0e19!2z44CSNTMwLTAwMDEg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65qKF55Sw77yT5LiB55uu77yR4oiS77yR!5e0!3m2!1sja!2sjp!4v1610150468347!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="adress">
                <h2>ACCESS</h2>
                <p>〒530-0001 大阪市北区梅田3丁目1番1号</p>
                <p>TEL.06-1234-5678(代)</p>
                <a href="https://daikishirakawa.github.io/tenkue-app/src/ejs/access"><button class="btn">詳細はこちら</button></a>
            </div>
            </article>
        </main>

        <%- include('./_includes/_footer.ejs') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
        <script src="/asset/js/slider.js"></script>
    </body>
</html>
