

// 601pxからこの装飾を適用する
@media(min-width: 601px){
.l-footer {
        background-color: rgb(41, 74, 134);
        color: white;
        margin-left: auto;
        margin-right: auto;

}
    h3 {
        padding-left: 20px;
        padding-top: 20px;
        width: 50%;
        margin: 0 10%;


    }
    .c-adress{
        padding: 20px;
        float: left;
        text-align: left;
         margin: 0 10%;
        width: 30%;
    }
    .p-nav {
        display: flex;
        list-style: none;
        width: 50%;
        margin: 0 10%;

        .p-nav__menu {
            margin: 10px;

        }
    }
    #c-end {
        padding-top: 80px;
    }
}
// 600px以下ではこの装飾を適用する
@media(max-width: 600px){
.l-footer {
    background-color: rgb(41, 74, 134);
    color: white;
    height: 400px;
    h3 {
        padding-top: 20px;

        margin-left: 1em;

    }
    .c-adress{
        text-align: left;
        margin-left: 1em;
    }
    .p-nav {
        list-style: none;
        column-count: 2;
        padding-left: 10px;
        .p-nav__menu {
            margin: 15px;
            margin-left: 5%;
        }
    }
    #c-end {
        text-align: center;
        padding-top: 10px;
    }
}
}

